{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Dyamic  title | Marketplace -->
    <title>  {% block title %}Document{% endblock  %} | Marketplace </title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    {% block css %}{% endblock %}
</head>
<body>
    <header>
        {% block navbar %}{% endblock %}
    </header>
    
    {% block body %}
      
    {% endblock  %}
</body>
</html>